.about {
 width: 100%;
 padding: 30px 15%;
}
.about--header {
	   width: 100%;
	   text-align: center;
     margin-top: 30px;	
	   margin-bottom: 30px;
	 
     }
          .about--title {
	         width: 100%;
	         text-align: center;
	         font-size: 24px;
	         font-weight: 500;
	          
           }
          .about--desc {
	        width: 100%;
	        padding: 20px 20%;
          color: #929ba0;
	        text-align: center;
          margin: 15px 0 15px;
	          
            }
  .about--grid {
  	display: flex;
  	flex-flow: row wrap;
    justify-content: center;
  	justify-content: space-between;
    width: 100%;
    
  }
       .about--item {
       	width: 270px;
        background-color: #57eaca;
        margin: 10px auto;
       }

            .about--item--img {
            	width: 270px;
            	height: 200px;
            }
            .about--item--img img {
            	width: 100%;
            	height: 100%;
            }
             .about--item--title {
              text-align: center;
              font-size: 18px;
              font-weight: 700;
              margin: 16px 0 5px;
             }
             .about--item--prof {
              text-align: center;
              color:#fff;
               margin-bottom: 20px; 
             }
             .about--item--desc {
              width: 100%;
              padding: 0 10px;
              text-align: center;
              font-weight: 600;
             }
