.article {
	width: 100%;
	padding: 60px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    
}
.article--img {
	width:  450px;
	height: 210px;
	background-color:#232e3d;

}
.article--text {
     width:  430px;
     margin-top: 20px;
    margin-left: 30px;
}
.article--title {
 font-size: 20px;
 font-weight: 25px;
 color:#233537;
 margin-bottom: 30px;
}
.article--desc {
	font-size: 16px;
	color: #929ba0;
}


	
@media screen and (max-width: 768px) {
   
      .article--desc {
      	font-size: 15px;
      }
      .article--img {
      	width: 410px;
      	height: 190px;
      }
}
@media screen and (max-width: 768px) {
      .article--text {
      	margin: 20px 0px 0px;
      	padding: 0px 10px 0px;
      }
     
      .article--img {
      	width: 410px;
      	height: 190px;
      }
}
@media screen and (max-width: 449px) {
      .article--text {
      	margin: 20px 0px 0px;
      	margin-left: 30px;
      }
 
      .article--img {
      	width: 280px;
      	height: 110px;
      }
}