.btn {
	width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;


}
.btn__home {
color: #fff;
background-color: #5defc9;
border-radius: 5px;
    padding: 10px 0;
}
.btn__next {
	color: #fff;
	background-color: #ff5856;
	border-radius: 5px;
	padding: 15px 0;
}
.btn__subscribe {
    color: #fff;
    border: 1px solid #6dffc6;
    background-color:#233537;
    padding: 10px 0;
}
.btn__subscribe:hover {
     color: #000;
    background-color:#70d8af;
    cursor: pointer;
}
.btn__form {
    color: #fff;
    width: 150px;
    border: none;
    background-color: #233537;
    padding: 10px 0;
    position: absolute;
    right: 0;
}
.btn__next:hover {
    background-color: #ff1e1b;
    cursor: pointer;
}
.btn__form:hover {
    background-color: #182122;
    cursor: pointer;
}
