.desktop {
	width: 100%;
	padding: 60px 0 0;
	background: linear-gradient(to bottom, #ff6754, #ff2c59);
	display: flex;
	flex-flow: column wrap;
}
    .desktop--header {
	   width: 100%;
	   text-align: center;	
	   margin-bottom: 30px;
	 
     }
          .desktop--title {
	         width: 100%;
	         text-align: center;
	         font-size: 24px;
	         font-weight: 400;
	           color: #fff;
           }
          .desktop--desc {
	        width: 100%;
	        padding: 20px 30%;
	        text-align: center;
	          color: #e9fcf8;
            }
    .desktop--screen {
	    width: 100%;
	    display: flex;
	    padding: 60px 20% 0;
	    flex-flow: row wrap;
	    justify-content: center;
	 
      }
            .screen--item {
	          width: 310px;
	          height: 180px;
             }

                .screen--item img {
	              width: 100%;
	              height: 100%;
                }
              .screen--item--abs {
	          position: relative;
             }
             .screen--item--abs img {
             	 position: absolute;
             	  bottom: 60px;
             	  right:-140px;
             	width: 310px;
	           height: 180px;
             }

@media screen and (max-width: 1350px) {
  .screen--item--abs img {
  	position: static;
  }

}
 
 @media screen and (max-width: 449px) {
 	.screen--item--abs img {
 		width: 269px;
 	}
 }       
/* 
2500 - 1680 
1680 - 1440 
1440 - 1351 
1351 - 1024 
1024 - 768 
768 - 450 
450 - 320
 */