.subscribe {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: #233537;
}
.subscribe--title {
	margin: 50px 0 30px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}
.subscribe--btn {
	width: 120px;
	height: 30px;
	margin-bottom: 80px;
}
@media screen and (max-width:768px ) {
	.subscribe--title {
	  font-size: 16px;
	  font-weight: 550;
	}
}
@media screen and (max-width:449px ) {
	.subscribe--title {
		width: 100%;
		text-align: center;
		padding: 0 15px;
	  font-size: 16px;
	  font-weight: 550;
	  line-height: 1.4;
	}
}